.add-task-container {
    padding-top: 4em;
    padding-bottom: 5em;
    text-align: left;
    padding-left: 2.2em;
    height: 137px;
    box-sizing: border-box;
    /* position: fixed; */
    width: 100%;
    background: #fff;
    z-index: 1;
}

.date-picker-container:first-child {
    display: inline-block;
    margin-right: 10px;
}

.calendar-icon {
    width: 30px;
    fill: #cacaca;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 3px;
    outline: none;
}

.calendar-icon:hover {
    fill: #209fda;
}

.calendar-set {
    width: 30px;
    fill: #209fda;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 15px;
    outline: none;
}


.react-datepicker-wrapper input{
    font-size: 14px;
    font-weight: 300;
    background: white;
    outline: none;
    cursor: pointer;
    border: none;
    padding: .5em;
    border-radius: 8px;
    box-shadow: -1px 0px 2px 2px #e6e6e6;
}

.priority-icon-main, .priority-icon {
    width: 30px;
    fill: #cacaca;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 15px;
    outline: none;
}

.priority-icon-main:hover {
    fill: #209fda;
}

.priority-levels {
    display: none;
    vertical-align: top;
    margin-left: -55px;
}

.low, .low-priority:hover  {
    fill: #ffefb8;
}

.med, .mid-priority:hover {
    fill: #ffa970;
}

.high, .high-priority:hover {
    fill: #ff6767;
}


.priority-levels-show {
    display: inline-block;
    vertical-align: top;
    margin-left: -45px;
}

.priority-levels-show .priority-icon {
    display: inline-block;
}

/* Add Task input */

.add-task-input {
    font-size: 1.15em;
    /* margin-right: 15px; */
    width: 1000px;
    max-width: 65%;
    padding: .5em 1em;
    outline: none;
    border: none;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 1px 1px #eee;
}

.add-task-btn {
    font-size: 1.15em;
    font-weight: bold;
    background: #ff6664;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    padding: .5em 1em;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 0px 0px 1px #ff6664;
}

.add-task-btn:hover {
    background: #ff6664;
    color: white;
}

.send-btn {
    width: 25px;
    fill: #cacaca;
    vertical-align: middle;
    border: 2px solid #dadada;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.send-btn:hover {
    fill: #209fda;
    border: 2px solid #209fda;

}


/* Task Container */

.task-container {
    padding: 2em 0;
    padding-left: 2em;
    text-align: left;
    box-sizing: border-box;
    border-left: 20px solid #fafafa;
    box-shadow: 1px 0 0 1px #fafafa;
    position: relative;
}

.tasks-container-title {
    margin: 0 auto 2em auto;
    font-weight: normal;
    font-size: 1.5em;
    color: #464646;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.rem-project-container {
    text-align: right;
    padding-right: 2em;
    margin-top: 3em;
    margin-bottom: 2em;
}

.rem-project {
    cursor: pointer;
    color: #e91e62bd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.rem-project:hover {
    color: #E91E63
}

.task-completed {
    border-left-color: #29b65f;
    background: #fafafa;
}

.task-low-priority {
    border-left-color: #ffefb8;
}

.task-med-priority {
    border-left-color: #ffa970;
}

.task-high-priority {
    border-left-color: #ff6767;
}

.task-title {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 34px;
    margin: 0;
    padding: 0 2em;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}

.task-title-calendar-icon {
    width: 20px;
    fill: #6caeda;
    vertical-align: sub;
    margin-right: 10px;
}

.task-container-date {
    font-weight: bold;
    color: #575757;
}

.task-date-container {
    padding-top: 1.5em;
}

.task-icons {
    display: inline-block;
    vertical-align: middle;
}

.svg-icons {
    width: 35px;
    margin: 0 10px;
    fill: #bdbdbd;
    cursor: pointer;
}

.check-svg-completed {
    fill: #29b65f;
}

.check-svg:hover {
    fill: #29b65f;
}

.trash-svg:hover {
    fill: #ee5050;
}

.tasks-filter-container {
    padding: 1em 0 1.5em 3em;
    text-align: left;
    /* border-top: 5px solid #fafafa;
    border-bottom: 5px solid #fafafa; */
}

.tasks-filter {
    display: inline-block;
    padding: .5em .8em;
    margin: 0 1em;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0px 0px 0px 2px #eee;
    color: #9a9a9a;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.tasks-filter:hover {
    background: #009688;
    color: white;
    box-shadow: 0px 0px 0px 2px #009688;
}

.tasks-filter::selection {
    background: none;
}

@media only screen and (max-width: 635px) {

    .task-container {
        padding-left: 0;
    }

    .task-title {
        width: 100%;
        box-sizing: border-box;
    }

    .task-icons {
        display: block;
        vertical-align: middle;
        text-align: center;
        padding: 2em 0;
    }
}